header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
    background:rgba(50, 90, 168, 1);
    color: #fff;
    padding: 15px;
    .reload {
        cursor: pointer;
    }
    .material-icons {
        font-size: 35px;
        color: #fff;
        margin-left: 15px;
    }
}