header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
    background:rgba(50, 90, 168, 1);
    color: #fff;
    padding: 15px;
    .reload {
        font-size: 40px;
    }
}