.light-wrap {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    .light-top {
        position: relative;
        border-bottom: 1px #ddd inset;
        padding-bottom: 15px;
        .light-img-wrap {
            width: 200px;
            height: 140px;
            float: left;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin: 15px 30px 0 0;
        }
        .light-meta {
            position: absolute;
            top: 50%;
            left: 230px;
            transform: translateY(-50%);
        }
        .toggle {
            font-size: 100px;
            color: #325aa8;
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
        }
    }
    .slidecontainer {
        p {
            margin-bottom: 15px;
        }
    }
    
    .controls {
        clear: both;
        padding: 10px 30px;
        .slidecontainer {
            margin: 30px 0;
        }
        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;  
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%; 
            background: #325aa8;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }
    }
}