* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body .left {
    float: left; }
  body .right {
    float: right; }
  body .clearfix::after {
    content: "";
    clear: both;
    display: table; }
  body .splash-page {
    background: #325aa8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Safari */ }
    body .splash-page .logo-lg-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      body .splash-page .logo-lg-wrap img {
        width: 100%; }
    body .splash-page .loader {
      text-align: center;
      border: 10px solid #fff;
      border-radius: 50%;
      border-top: 10px solid transparent;
      width: 24px;
      height: 24px;
      margin: 5px 0 0 20px;
      -webkit-animation: spin 1s linear infinite;
      /* Safari */
      animation: spin 1s linear infinite;
      opacity: .8;
      margin: 0 auto; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  body .navigation {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%); }
