* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body .left {
    float: left; }
  body .right {
    float: right; }
  body .clearfix::after {
    content: "";
    clear: both;
    display: table; }

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
  background: #325aa8;
  color: #fff;
  padding: 15px; }
  header .reload {
    font-size: 40px; }

footer {
  clear: both;
  margin-top: 30px; }

.light-wrap {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd; }
  .light-wrap .light-img-wrap {
    width: 250px;
    height: 200px;
    float: left;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px; }
  .light-wrap .light-meta {
    padding-top: 40px; }
    .light-wrap .light-meta .controls {
      clear: both;
      padding: 30px; }
      .light-wrap .light-meta .controls .slidecontainer {
        margin: 30px 0; }
    .light-wrap .light-meta .toggle {
      font-size: 100px;
      color: #325aa8;
      cursor: pointer; }
    .light-wrap .light-meta .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s; }
    .light-wrap .light-meta .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #325aa8;
      cursor: pointer; }
    .light-wrap .light-meta .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer; }
